@import "../../../globalStyles/scss/variables.scss";

.services-list-item {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;

  &__unit {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 30px;

    &_icon {
      margin-right: 1.5rem !important;
      & span {
        font-size: 3rem;
      }
    }
    & p {
    color: #5b6987;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-style: normal;
    }
      & h3 {
        font-size: 13px;
        color: #adb5bd;
        letter-spacing: .2em;
        text-transform: capitalize;
        font-weight: 600;
      }
  }
}
